<div class="login-page">
  <div class="form">
  	<div class="logo-icon"></div>
    <form class="login-form" {{action "signin" on="submit"}}>
      {{input type="text" placeholder="username" value=username}}
      {{input type="password" placeholder="password" value=password}}
      <button>login</button>
    </form>
  </div>
</div>